<template>
  <div class="about">
    <v-layout>
      <v-flex >
        <v-img style="margin: auto" width="50px" :src="require('static/img/appVue/ico2.svg')"></v-img>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>

    export default {

    }
</script>
