<template>
    <div class="connexion">
        <v-layout>
            <v-flex >
                <h1>Connexion</h1>
            </v-flex>

        </v-layout>
    </div>
</template>
<script>

    export default {

    }
</script>
