<template>
  <div class="home">
    <v-layout fill-height>
      <v-flex xs12>
        <v-card id="bandeau">
          <v-card-title class="justify-center">

            <v-img max-height="100%" :src="require('static/img/menuVue/Group.svg')" class="pousseMilieu"></v-img>
          </v-card-title>
          <v-divider inset md></v-divider>
        </v-card>

        <v-layout class="layout2">
          <v-flex xs12 fill-height>

            <v-card height="100% !important" class="cardMenu">
              <v-card-actions>
                <v-container v-bind="{ [`grid-list-md`]: true }" text-xs-center fluid fill-height>
                  <v-layout row wrap justify-center>
                    <v-flex
                            v-for="item in itemsMenuPage"
                            :key="item.key"
                            xs6
                            align-center
                            flexbox
                            fluid
                    >
                      <v-btn :to="item.btnPath"  block outline class="btnDeMenu">
                        <v-card class="cardDansBoutonMenu">

                          <img
                                  :src="getImgUrl(item.iconSource)"
                                  height="56px"
                          />
                          <v-card-text>{{item.title}}</v-card-text>

                        </v-card>
                      </v-btn>

                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

  </div>
</template>

<script>

    export default {

        data(){
            return {
                itemsMenuPage: [
                    {
                        title: "Postures",
                        iconSource: "book.svg",
                        btnPath: "postures",
                        isDisabled: ""
                    },
                    {
                        title: "Séances",
                        iconSource: "pingman_assis.svg",
                        btnPath: "seances",
                        isDisabled: "disabled"
                    },
                    {
                        title: "Profs",
                        iconSource: "world-location.svg",
                        btnPath: "geoloc",
                        isDisabled: "disabled"
                    },
                    {
                        title: "À propos",
                        iconSource: "question-mark.svg",
                        btnPath: "about",
                        isDisabled: ""
                    }
                ]
            }
        },
        methods: {
            getImgUrl(icon){
                return require ('static/img/menuVue/' +icon)
            }
        }
    }

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .home{
    max-height: calc(100vh - 51px) !important;
    height: 100%;
  }
  .pousseMilieu{
    margin-top: 3%;
  }
  .v-btn{
    height: 100% !important;
    text-transform: none;
  }
  .v-divider{
    width: 50% !important;
    background-color:#ADA3A3;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding: 1px;
    border-radius: 3px;
  }
  .v-card{
    box-shadow: none;
  }
  #bandeau{
    height: 30%;
    min-height: 20%;
  }
  .layout2{
    height: 70%;
  }
  .btnDeMenu{
    border: #F1F1F1 solid 3px;
    border-radius: 4px;
    box-shadow: grey 1px 1px 1px 1px;
  }
  .cardMenu {
    padding: 0 20px 10px 20px;
    height: 70% !important;
  }
  .cardDansBoutonMenu{
    background-color: transparent;
    color: #1A1A1A;
    margin-top: 20px;
  }
  .cardMenu, #bandeau{
    background-color: #F1F1F1;
  }
</style>
