<template>

    <div class="welcome">
        <!-- ===================================bandeau============================-->
        <v-layout fill-height>
            <v-flex xs12>
                <v-card  id="bandeau">
                    <v-card-title class="justify-center">
                        <img width="80%" src="static/img/menuVue/Group.svg" class="pousseMilieu"/>
                    </v-card-title>
                    <v-divider inset md></v-divider>
                </v-card>
            </v-flex>
        </v-layout>
        <!-- ===================================bouton============================-->
        <v-layout>
            <v-flex xs12>
                <v-card>
                    <v-card-actions>
                        <v-btn style="background-color: rgba(255,139,0,0.74);" class="bouton" to="inscription" >Inscription</v-btn>
                        <v-btn style="background-color: rgba(255,139,0,0.74);"  class="bouton" to="connexion" >Connexion</v-btn>

                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>


<script>

    export default {

        }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    a {
        color: #42b983;
    }
    .welcome{
        width: 100%;height: 95%;
        background-image: url(../static/img/ecransConnect/bg-yogapage.png);
        background-size: cover;
        /* background-size: contain; */
        background-repeat: no-repeat;
        text-align: center;
    }
    .pousseMilieu{
        margin-top: 11px;
    }
    v-btn {
        width: 20%;
        background-color: orange;
    }
    .bouton{
        background-color: orange;
        margin-top:-160px;
        width:40%;
        height: 50px;
        color: white;
        border-radius: 7px;
    }
    /* .fred1{
      width: 120px;
      height: 110px;
      padding-top: 30px;
    }
    .fred2{
      width: 70px;
      height: 110px;
      padding-top: 30px;
    }
    .fred3{
      width: 140px;
      height: 110px;
      padding-top: 30px;
    } */
</style>
