

<template>
  <v-app>

    <!-- ==============================  MENU LISTE DRAWER  ================================ -->

    <v-navigation-drawer  style="width:200px;height:77%;margin-top:15%;"
                          persistent
                          :mini-variant="miniVariant"
                          :clipped="clipped"
                          v-model="drawer"
                          enable-resize-watcher
                          fixed
                          app
    >

      <!-- ==============================  LISTE DRAWER  ================================ -->
      <v-list >
        <v-list-tile
                value="true"
                v-for="(item, i) in items"
                :key="i"
        >


          <!-- ==============================  ICONE UTILISATEUR  ================================ -->

          <v-list-tile-action text="center">
            <div class="icoM">
              <img src="static/img/appVue/tailleur.png" alt="Vuetify.js" class="icoTail"></div>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="titreM" v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
          <!-- ========================  LISTE DRAWER  ========================== -->
         </v-list-tile>
        <br><hr color="deep-orange accent-3">
        <v-btn class="boutonm" to="home">Accueil</v-btn><br>
        <v-btn class="boutonm" to="postures" >Postures</v-btn>
        <v-btn class="boutonm" to="" >Séances</v-btn><br>
        <v-btn class="boutonm" to="about" >A propos</v-btn><br>
        <hr color="deep-orange accent-3"><br>
        <v-btn class="boutonm" to="" >Nous écrire</v-btn><br>
        <v-btn class="boutonm" to="welcome" >Déconnexion</v-btn><br>
      </v-list>
    </v-navigation-drawer >



    <!-- ===========================  TOOLBAR MENU  ============================= -->
    <v-toolbar class="fred3" app :clipped-left="clipped">
      <v-toolbar-side-icon style="color:white" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <img src="static/img/appVue/logo1.png" alt="Vuetify.js" class="mb-0 fred">
      <v-toolbar-title class="fred" v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>


    <!-- ===========================  ROUTER-VIEW  ============================= -->
    <v-content>
      <transition appear name="fade">
        <router-view/>
      </transition>
    </v-content>


    <!-- ==============================  FOOTER  ================================ -->
    <v-footer :fixed="fixed" app dark  color="black" height="10%">
      <v-layout fill-height>
        <v-flex
                row
                space-around
                flexbox
                fluid
                xs12
                align-center
        >
          <v-btn
                  v-for="column in footer"
                  :key="column.key"
                  :to="column.pathName"
                  class="btnFooter text-xs-center"
                  flat
          >
            <v-flex column>

              <img  width="33px" :src="getImgUrl(column.iconSrc)"/>
               <p class="font-weight-regular" style="margin-bottom: 0px;">{{column.btnTitle}}</p>

            </v-flex>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-footer>


  </v-app>
</template>



<script>
    export default {

        data () {
            return {
                clipped: false,
                drawer: true,
                fixed: false,
                items: [{
                    title: 'Frédéric'
                }],
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: '',
                footer: [
                    {
                        iconSrc: "home.svg",
                        btnTitle: "Accueil",
                        pathName: "home"
                    },
                    {
                        iconSrc: "pingman_assis.svg",
                        btnTitle: "Séances",
                        pathName: "seances"

                    },
                    {
                        iconSrc: "book.svg",
                        btnTitle: "Postures",
                        pathName: "postures"

                    }
                ]
            }
        },
        methods: {
            getImgUrl(iconSrc){
                return require ('static/img/appVue/' +iconSrc)
            }
        }
    }
</script>
<style scoped>

  .fred{
    margin-left:18%;
  }
  .fred1{
     /* width: 195px;  */
  }
  .fred3{
    background-color: black;
    color: white;
    height: 9% !important;
  }
  .boutonm{
    width: 90%;
    / margin: auto; /
    background-color:#F5F5F5;
  }
  .titreM{
    color:rgb(3, 3, 3) !important;
    font-size: 22px;
  }
  .icoTail{
    width: 30px;margin-left: 18%;
  }
  .icoM{
    border: 1px solid black;
    border-radius: 40px;
    width: 50px;
  }
  .btnFooter{
    height: 100%;
    width: 33.3333%;
    margin: 0;
    padding: 2px 0 0 0;
  }
  .v-btn{
    text-transform: none;
  }
  .v-btn--active, .exact-active-class{
    background-color: #ff7500 !important;
    color: black;
  }
  .test{
    color: white !important;
  }

  .application{
    line-height: normal;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .8s;
  }
  .fade-enter, .fade-leave-to / .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
